services:
  - type: web
    name: inventory-app
    runtime: python
    buildCommand: ./build.sh
    startCommand: gunicorn -c gunicorn.conf.py inventory_project.wsgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.18
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*"
